body {
  background-color: #ffcc99; }

.btn-cab {
  background-color: #99ff66;
  font-weight: bold;
  opacity: 0.8; }
  .btn-cab:hover {
    background-color: #99ff66;
    opacity: 1; }

.hover-pointer {
  cursor: default; }

.efecto-sombra {
  transition: box-shadow 0.5s; }
  .efecto-sombra:hover {
    box-shadow: 2px 2px; }

.numero-especial {
  color: #6495ed;
  font-weight: bold; }

.infografia {
  text-align: left;
  background-color: #f3b87d; }

.testimonios {
  background-color: #8ef5ff; }

.lista-detalles {
  list-style: none; }
  .lista-detalles li {
    font-size: 18px;
    padding: 5px 0px; }

.texto-avanzado-1 {
  font-weight: bold; }

.texto-avanzado-2 {
  font-weight: bold; }

.texto-avanzado-1 {
  color: #1e8ece; }

.texto-avanzado-2 {
  color: #90751c; }

.copyright {
  font-size: 25px;
  font-style: italic; }

.btn-facebook {
  background-color: #3b5998; }

.btn-twitter {
  background-color: #00acee; }

.btn-whatsapp {
  background-color: #25D366; }
