body {
  background-color: #ffcc99; }

.btn-cab {
  background-color: #99ff66;
  font-weight: bold;
  opacity: 0.8; }

.btn-cab:hover {
  background-color: #99ff66;
  opacity: 1; }

.hover-pointer {
  cursor: default; }

.efecto-sombra {
  transition: box-shadow 0.5s; }

.efecto-sombra:hover {
  box-shadow: 2px 2px; }
