$beige_color:#ffcc99;
$green_color:#99ff66;
$beige_dark_color: #f3b87d;
$lightblue_color: #8ef5ff;
$golden_color: #90751c;
$blueish_color: #1e8ece;
$purple_color:#6495ed;
$facebook_color:#3b5998;
$twitter_color:#00acee;
$whatsapp_icon_color:#25D366;
$whatsapp_color:#FFFFFF;
