@import "colores";
@import "tamanos";
@import "mapeos";

$shadow_duration: 0.5s;

body{
    background-color: $beige_color;
}

.btn-cab{
    background-color:$green_color;
    font-weight: bold;
    opacity: 0.8;
    &:hover{
        background-color: $green_color;
        opacity: 1;
    }
}

.hover-pointer{
    cursor:default;
}

.efecto-sombra{
    transition: box-shadow $shadow_duration;
    &:hover{
        box-shadow: $shadow_box_prop;
    }
}

.numero-especial{
    color:$purple_color;
    font-weight: bold;
}

.infografia{
    text-align: left;
    background-color: $beige_dark_color;
}

.testimonios{
    background-color: $lightblue_color;
}

.lista-detalles{
    list-style: none;

    li{
        font-size: $font_size_base;
        padding: $padding_topbottom;
    }
}


@for $i from 1 to 3{
    .texto-avanzado-#{$i}{
        font-weight: bold;
    }
}

.texto-avanzado-1{
    color:$blueish_color;
}

.texto-avanzado-2{
    color:$golden_color;
}

.copyright{
    font-size: $font_large;
    font-style: italic;
}

@each $red,$color in $redes_sociales {
    .btn-#{$red}{
        background-color:$color;
    }
}